# Structure
#     - Group
#   - Network
# - Chain

DEPLOYMENT="debugging"
NETWORK="local"
CHAIN="juno"

RUST_LOG=info

WASM_DIR="./target/wasm32-unknown-unknown/release"
STORE="default_chains.json"

LOCAL_MNEMONIC=""
MAIN_MNEMONIC=""
TEST_MNEMONIC=""

DAEMON_STATE_PATH="./daemon_state.json"

ABSTRACT_VERSION="0.5.2"
