[package]
name = "forty-two"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
description = "4t2 contract interfaces and storage layouts"
readme = "README.md"

[features]
default = []
interface = ["dep:cw-orch"]
# backtraces = ["cosmwasm-std/backtraces"]

[dependencies]
cosmwasm-std = { workspace = true, features = ["iterator"] }
cosmwasm-schema = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
cw-asset = { workspace = true }
abstract-sdk = { workspace = true }
cw-storage-plus = { workspace = true }
cw-utils = { workspace = true }
cw20 = { workspace = true }
abstract-dex-adapter = { workspace = true }
cw-orch = { workspace = true, optional = true }
